<!-- Taken from Peter Hoang's partials file from Harry Potter -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-eqiv='X-UA-Compatible' content="ie=edge">
  <title> Dog Walker App </title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" text="text/css" href="../style.css">
</head>
  <body>
