<% include ../../partials/boilerplate %>
<div class="available_appointments">
<% appointments.forEach((apps) => { %>
        <h1>
          <%=apps.available_time%><%=apps.available_time%><%=apps.available_time%>
        </h1>
</div>
<% }) %>
<% include ../../partials/end %>
