<% include ../../partials/boilerplate %>
<div class="available_appointments">
<% appointments.forEach((apps) => { %>
        <h1>
          <%=apps.available_time%>
           <% }) %>
        </h1>
        <% dogs.forEach((dog) => { %>
        <h1>
          <%=dog.name%>
          <% }) %>
        </h1>
        <% walkers.forEach((walker) => { %>
        <h1>
          <%=walker.name%>
          <% }) %>
        </h1>
</div>

<% include ../../partials/end %>
