<% include ../../partials/boilerplate %>
  <div class="showOne">
    <h1>
      <%= booked.available_time%>
      <%= booked.dog_id%>
      <%= booked.walker_id%>
    </h1>
  </div>
<% include ../../partials/end %>
